{% include "main/pages_parts/head.html" %}



<body class="d-flex align-items-center justify-content-center" style="height: 100vh;">

    <div class="jumbotron text-center">
        <h1 class="display-4">Ваш аккаунт успешно активирован</h1>
        <h2 class="display-4"><a href = "https://birzha.nsuem.ru/">Перейти на главную</a></h1>
        <!-- Дополнительные детали или ссылки здесь -->
    </div>
</body>


{% include "main/pages_parts/vendor_js.html" %}
  
{% include "main/pages_parts/yandex_metric.html" %}
