{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Обзорные заявки</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'main/img/favicon.png' %}" rel="icon">
  <link href="{% static 'main/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'main/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'main/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="{% url 'main' %}"><img src="{% static 'main/img/logo.png' %}" alt=""></a> 
        <span style="font-weight: 600; font-size: 26px" >  Интеллектуальная биржа</span>
      </div>



    </div>
  </header><!-- End Header -->

    
  <main id="main">



    <section class="inner-page">
      <div class="container">
<br>
     <h2>Пакетные заявки органов власти</h2>
     
<iframe class="airtable-embed" src="https://airtable.com/embed/shrwS2Phab3OmiQuK?backgroundColor=purple&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="1000"></iframe>


<div class="container mt-5 mb-3">
    <div class="row">
       


    </div>
</div>
     
     
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="container py-4">
      <div class="copyright">
        &copy; ФГБОУ ВО "НГУЭУ", Планово-аналитический отдел
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 <!-- Vendor JS Files -->
 <script src="{% static 'main/vendor/aos/aos.js' %}"></script>
 <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'main/vendor/glightbox/js/glightbox.min.js' %}"></script>
 <script src="{% static 'main/vendor/swiper/swiper-bundle.min.js' %}"></script>
 <script src="{% static 'main/vendor/php-email-form/validate.js' %}"></script>

 <!-- Template Main JS File -->
 <script src="{% static 'main/js/main.js' %}"></script>

</body>

</html>