{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include "main/pages_parts/head.html" %}

  <style type="text/css">
    .form-group { 
      margin-top: 15px;
    }
    .step {
    display: none;
}

  .step.active {
      display: block;
  }

  .btn {
    width: 150px;
  }
  .list-group-item {
    pointer-events: none;
  }
  .tooltip-inner {
  max-width: 600px; 
  text-align: left; 
  white-space: pre-wrap;
  background-color: rgb(221, 221, 221);
  color: black;
}

.info-icon {
  color: #53a2f7;
  transition: color 0.2s;
}


.info-icon:hover {
  color: #0056b3; 
}
   </style>
<body>
    {% include "main/pages_parts/headers/header_system.html" %}
    <br>
    <br>
    
    <div class="container">
        <div class="row">
          <div class="col-md-3">
            <!-- Боковое меню -->
            <div class="list-group">
 
              <a class="list-group-item  active">Шаг 1 - Данные о заказчике</a>
              <a class="list-group-item" >Шаг 2 - Информация о задаче</a>
              <a class="list-group-item ">Шаг 3 - Дополнение информации</a>
              <a class="list-group-item ">Шаг 4 - Прочие сведения</a>
            </div>
          </div>
          <div class="col-md-9">
            <!-- Контент справа -->
            <div class="card">
              <div class="card-header">
                <h5  class="card-title mb-0">Подача заявки от коммерческого сектора</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 offset-md-3">
                  <form class = "business_application" data-url="{% url 'business_application' %}" id="business_application" method="post">
            
                    {% csrf_token %}

                    <div class="step active">
                      
                    <div class="form-group">
                      <label for="customer">Наименование организации</label>
                      <input class="form-control" type="text" maxlength="150" id = "customer" name = "customer" required>
                      <div class="invalid-feedback"></div>
                      </div>

                    <div class="form-group">
                      <label for="department">Наименование структурного подразделения</label>
                      <input class="form-control" type="text" maxlength="150" id = "department" name = "department" required>
                      <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group">
                      <label for="fio">ФИО ответственного лица от заказчика</label>
                      <input class="form-control" type="text"  maxlength="150" id = "fio" name = "fio" required>
                      <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group">
                      <label for="fio">Должность ответственного лица от заказчика </label>
                      <input class="form-control" type="text" maxlength="150" id = "post" name = "post" required>
                      <div class="invalid-feedback"></div>
                    </div>

                    <div class="form-group">
                      <label for="phone">Телефон ответственного лица от заказчика </label>
                      <input class="form-control" type="text" maxlength="17" id = "phone" name = "phone_number">
                    </div>

                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" maxlength="40" aria-describedby="email" name = "email" placeholder="example@mail.ru" required>
                      <div class="invalid-feedback"></div>
                    </div>
                    <br>
                    <div class = "text-center">
                    <button type="button" class="btn btn-primary next-step">Далее</button>
                    </div>
                </div>
                <div class="step">
                 

                   <div class="form-group">
                        <label for="select2Type">Тип потребности заказчика <i class="fas fa-info-circle info-icon"  data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" 
                          title=
"<b>Базовая потребность</b> - Просвещение, т.е. обозначение актуальной тематики Заказчика для научных и образовательных организаций, повышения практикоориентированности образования и эффективности прикладных исследований. 
Вы можете выбрать дополнительные потребности из списка. 
<b>Кадры</b> – с целью привлечения на практику, стажировку и трудоустройство обучающихся, продемонстрировавших высокий уровень при решении задачи Заказчика; 
<b>Экспертиза и анализ</b>  – с целью получения аналитических данных, оценки, формирования выводов, предложений и проектов решений по задаче Заказчика; 
<b>Разработка и внедрение</b> – с целью получения Заказчиком конкретных проектов документов, методик, инструментария, решений, прототипов, интеллектуальной собственности, опытно-конструкторских и иных прикладных разработок; 
<b>Предпринимательство</b> – с целью инициации бизнес-идей, стартапов и иных предпринимательских проектов в рамках или по итогу решения задачи Заказчика"></i></label>
                        <select name = "purpose" class="form-control" id="select2Type" multiple required >
                          {% for goal in goals %}
                            <option value="{{goal.id}}">{{goal.name}}</option>
                            {% endfor %}
                   
                        </select>
                        <div class="invalid-feedback">Поле обязательно для заполнения.</div>
                      </div>

                      <div class="form-group">
                        <label for="task_formulation">Формулировка задачи <i class="fas fa-info-circle info-icon"  data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" 
                          title=
"<b>Краткая формулировка задачи (предлагаемая тема)</b> - является заголовком - вводной фразой, призванной привлечь внимание Исполнителя для выбора задачи на платформе"></i> </label>
                        <textarea class="form-control" id="task_formulation" name = "task_formulation" rows="3" required></textarea>
                        <div class="invalid-feedback"></div>
                      </div>

                      <div class="form-group">
                        <label for="problem_formulation">Постановка задачи <i class="fas fa-info-circle info-icon" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" 
                          title=
"Детальное описание (аннотация) задачи <b>Заказчика</b>, отвечающее на вопросы: 
- в чем заключается проблема Заказчика (суть, содержание), как и в чем она проявляется (результаты, эффекты, показатели и т.п.); 
- какого уровня описываемая проблема (географический, пространственный и иной масштаб); 
- кто заинтересован в решении проблемы (какие группы пользователей, целевая аудитория – физические или юридические лица, отрасль и т.д.); 
- какие у указанной проблемы целевые установки и ограничения (например, нормативные, финансовые и т.д.); 
- каким образом проблема решается сейчас и какие имеются подходы по ее решению; 
- какие полезные эффекты, результаты должны возникнуть при решении проблемы."></i></label>
                        <textarea class="form-control" id="problem_formulation" name = "problem_formulation" rows="3" required></textarea>
                        <div class="invalid-feedback"></div>
                      </div>

                      <div class="form-group">
                        <label for="relevance">Актуальность и источники информации <i class="fas fa-info-circle info-icon"  data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" 
                          title=
"Информация, подтверждающая актуальность задачи, например: - национальные проекты, государственные программы, указы и постановления, иные нормативные документы; - аналитические исследования, выводы, рекомендации; - материалы СМИ, интервью и т.д. Какие источники, помимо указанных выше, рекомендуется использовать Исполнителю при выполнении задачи (сборники статистических данных, обзоры, исследования, публикации и т.п.)"></i></label>
                        <textarea class="form-control" id="relevance" name = "relevance" rows="3" required></textarea>
                        <div class="invalid-feedback"></div>
                      </div>
                      <br>
                      <div class = "text-center">
                        <button type="button" class="btn btn-secondary prev-step">Назад</button>
                        <button type="button" class="btn btn-primary next-step">Далее</button>
                      </div>
                </div>

                <div class="step">

                      <div class="form-group">
                        <label for="select2Depth">Глубина проработки задачи <i class="fas fa-info-circle info-icon"  data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" 
                          title=
"Отразите глубину проработки решения, объем предполагаемых работ по предложенной задаче, определяемым целеполаганием <b>Заказчика</b>, уровнем <b>Исполнителя</b>: 
- рефераты, курсовые работы (работы обучающихся в рамках просветительской и кадровой целей Заказчика); 
- выпускные квалификационные работы, магистерские диссертации (работы, потенциально имеющие полезность для Заказчика с позиции конкретного результата); 
- кандидатские и докторские диссертации, НИР; 
- технические и иные разработки, создание прототипов, интеллектуальной собственности; 
- предпринимательские проекты."></i></label>
                        <select name = "depthTask" class="form-control" id="select2Depth" multiple required >
                            {% for depth in depths %}
                            <option value="{{depth.id}}">{{depth.name}}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Поле обязательно для заполнения.</div>
                      </div>
                

                      <div class="form-group">
                        <label for="completion_dates">Сроки завершения работы над задачей <i class="fas fa-info-circle info-icon"  data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" 
                          title=
"Укажите временной диапазон, в течение которого поставленная задача будет актуальна для Заказчика. Указывается временной диапазон в годах или конкретная дата."></i></label>
                        <input class="form-control" type="date" id="completion_dates" name="completion_dates" required>
                        <div class="invalid-feedback"></div>
                      </div>

                      <div class="form-group">
                        <label for="research_purpose">Этапы решения задачи <i class="fas fa-info-circle info-icon"  data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" 
                          title=
"В соответствии с поставленной целью могут выделяться этапы, которые необходимы для решения задачи. Этапы являются содержательной детализацией (декомпозицией) задачи. В качестве примера таких этапов: проведение анализа, обобщение результатов, выявление закономерностей, обоснования необходимости внедрения, разработка прототипа, оценка отдельных аспектов проблемы,. При этом важно однотипное изложение этапов: «выявить», «обобщить», «систематизировать», «разработать», «обосновать» и т.д."></i></label>
                        <textarea class="form-control" id="research_purpose" name = "research_purpose" rows="3"></textarea>
                      </div>

                      <div class="form-group">
                        <label for="key_words">Ключевые слова <i class="fas fa-info-circle info-icon"  data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" 
                          title=
"<b>Ключевые слова</b> - это набор слов, их сочетаний и фраз (главные термины), которые позволяют выразить основное содержание задачи. Используются для поиска на платформе, а также систематизации и структуризации разного типа задач. Слова или фразы указываются через запятую."></i></label>
                        <input class="form-control" type="text" placeholder="Разработка, Внедрение" maxlength="150" id = "key_words" name = "key_words">
                        </div>
                        <br>
                        <div class = "text-center">
                          <button type="button" class="btn btn-secondary prev-step">Назад</button>
                          <button type="button" class="btn btn-primary next-step">Далее</button>
                        </div>
                    </div>

                    <div class="step">

                        <div class="form-group">
                          <label for="select2Programs">Направления, специальности <i class="fas fa-info-circle info-icon"  data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" 
                            title=
  "Укажите укрупненные группы направлений (специальностей), которым релевантна поставленная задача"></i></label>
                          <select name = "program" class="form-control is-invalid" id="select2Programs" multiple  >
                              {% for program in programs %}
                              <option value="{{program.id}}">{{program.name}} ({{program.eduLevel.name}})</option>
                              {% endfor %}
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="wish_result">Ожидаемый результат (требования к результату) <i class="fas fa-info-circle info-icon"  data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" 
                            title=
  "Укажите, что должно стать результатом работы над задачей, какие элементы должны быть обязательными для того, чтобы задача могла быть считаться решённой."></i></label>
                          <input class="form-control" type="text" maxlength="150" id = "wish_result" name = "wish_result">
                          </div>

                          <div class="form-group">
                            <label for="other_info">Прочая информация о задаче <i class="fas fa-info-circle info-icon"  data-bs-toggle="tooltip"data-bs-html="true" data-bs-placement="right" 
                              title=
    "Свободное поле для уточнения задачи, комментариев и предложений"></i></label>
                            <textarea class="form-control" id="other_info" name = "other_info" rows="3"></textarea>
                          </div>
                


                      <br>
                      
                      <div class = "text-center">
                        <button type="button" class="btn btn-secondary prev-step">Назад</button>
                          <button type="submit" class="btn btn-primary" id = "submitButton">Отправить</button>
                          </div>
                    </div>
                
                
                   
                </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Информация о заявке</h4>
                     
                  </div>
                  <div class="modal-body">
                      <p>Заявка успешно отправлена и зарегистрирована! <br> Вашей заявке присвоен номер: <b><span id = "value_buisness"></span></b></p>
                      <p> Полная информация по заявке была отправлена Вам на почту, указанную при подаче. 
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" id="submitNew">Новая заявка</button>
                      <button type="button" class="btn btn-secondary" id="submitEnd">Завершить</button>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <!-- Подключаем скрипты Bootstrap -->
    
      {% include "main/pages_parts/vendor_js.html" %}

      <script src="{% static 'main/js/app_business.js' %}"></script>
        </body>
</html>
