{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Галерея запросов</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'main/img/favicon.png' %}" rel="icon">
  <link href="{% static 'main/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'main/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
  <!-- =======================================================
  * Template Name: FlexStart - v1.9.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="../index.html" class="logo d-flex align-items-center">
          <img src="{% static 'img/logo.png' %}" alt="">
          <span style="font: Helvetica">Smart Exchange</span>
      </a>
        
      <nav id="navbar" class="navbar">
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/index.html">Главная</a></li>
          <li>Галерея запросов</li>
        </ol>
        <h2>Галерея запросов</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry">

              <h2 class="entry-title">
                <a href="#">Организация функционирования подразделений системы Министерства внутренних дел Российской Федерации</a>
              </h2>

              <div class="entry-meta">
                  <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-building"></i> <a href="#">Заказчик: <b>ГУ МВД РФ по Новосибирской области</b></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-box"></i> <a href="#">Вид работы: <b>ВКР (Магистратура)</b></a></li>
                  </ul>
                  <br>
                  <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-chat-text"></i> <a href="#">Направления подготовки: <b>40.04.01 Юриспруденция</b></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-calendar-date"></i> <a href="#">Сроки: <b>1 августа 2022</b></a></li>
                  </ul>
              </div>

              <div class="entry-content">
                <p>Актуальность исследования обусловлена важностью выявления проблем функционирования Главного управления Министерства внутренних дел России по Новосибирской области, а также поиска подходов к их устранению. Явной проблематикой является: слабое финансирование, отвлечение от основных обязанностей, нехватка аттестованных кадров, проблема взаимодействия подразделений. Следовательно, слабое финансирование приводит к сокращению сотрудников. В 2018 году уровень укомплектованного личного состава был ниже планового, Счетная Палата заявляла, что многие сотрудники уволились из-за опасения условий пенсионного законодательства, а некоторые из-за взаимоотношений между руководством и рядовыми сотрудниками.</p>
                <div class="read-more">
                  <a href="#" style="background-color: rebeccapurple; color: white"><i class="bi bi-card-heading"></i> Подробнее</a>
                  <a href="#" style="background-color: limegreen; color: white"><i class="bi bi-person"></i> Оставить отклик</a>
                  <a href="#" style="background-color: orange; color: white"><i class="bi bi-share-fill"></i> Поделиться</a>
                </div>
              </div>

            </article>

            <article class="entry">

              <h2 class="entry-title">
                <a href="#">Разработка финансовой стратегии ООО "Парус", направленной на обеспечение его экономической безопасности в условиях рыночной нестабильности</a>
              </h2>

              <div class="entry-meta">
                  <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-building"></i> <a href="#">Заказчик: <b>ООО "Парус"</b></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-box"></i> <a href="#">Вид работы: <b>ВКР (Среднее проф. образование)</b></a></li>
                  </ul>
                  <br>
                  <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-chat-text"></i> <a href="#">Направления подготовки: <b>40.02.01 Финансы</b></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-calendar-date"></i> <a href="#">Сроки: <b>15 июля 2022</b></a></li>
                  </ul>
              </div>

              <div class="entry-content">
                <p>Современный этап социально-экономического развития характеризуется радикальными экономическими, социальными и экологическими изменениями,
стремительным развитием научно-технического прогресса, проникающего во все сферы жизнедеятельности человека. <br>Нарастание кризисных явлений, усиление неопределенности и
динамичности экономической ситуации требует от субъектов хозяйствования усиленного внимания к вопросам собственной экономической безопасности, выявления и нейтрализации возможных угроз, опасностей и рисков, способных негативным образом повлиять на состояние и результаты их деятельности.</p>
                <div class="read-more">
                  <a href="#" style="background-color: rebeccapurple; color: white"><i class="bi bi-card-heading"></i> Подробнее</a>
                  <a href="#" style="background-color: limegreen; color: white"><i class="bi bi-person"></i> Оставить отклик</a>
                  <a href="#" style="background-color: orange; color: white"><i class="bi bi-share-fill"></i> Поделиться</a>
                </div>
              </div>

            </article>
            
            
            <article class="entry">

              <h2 class="entry-title">
                <a href="#">Финансовая грамотность населения г. Новосибирска</a>
              </h2>

              <div class="entry-meta">
                  <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-building"></i> <a href="#">Заказчик: <b>Правительство Новосибирской области</b></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-box"></i> <a href="#">Вид работы: <b>ВКР (Бакалавриат)</b></a></li>
                  </ul>
                  <br>
                  <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-chat-text"></i> <a href="#">Направления подготовки: <b>40.03.01 Юриспруденция</b></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-calendar-date"></i> <a href="#">Сроки: <b>1 августа 2022</b></a></li>
                  </ul>
              </div>

              <div class="entry-content">
            <p>В условиях стремительной трансформации общественных коммуникаций, развития цифрового пространства, онлайнвзаимодействия, современный житель города осваивает все больше навыковработы с информацией. Возникновение за несколько последних десятилетий формы общения и обучения изменило и компетенции в различных сферах
жизнедеятельности человека в наши дни. Исследователи и ученые, изучающие ценности, поведенческие особенности и тенденции в социуме связывают такие процессы как с мировым социальным и техническим прогрессом и урбанизацией, так и с экономическими и политическими реформами в российском обществе.</p>
                <div class="read-more">
                  <a href="#" style="background-color: rebeccapurple; color: white"><i class="bi bi-card-heading"></i> Подробнее</a>
                  <a href="#" style="background-color: limegreen; color: white"><i class="bi bi-person"></i> Оставить отклик</a>
                  <a href="#" style="background-color: orange; color: white"><i class="bi bi-share-fill"></i> Поделиться</a>
                </div>
              </div>

            </article>
            
            
            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">
              
              
              <h3 class="sidebar-title">Недавние запросы</h3>
              
                <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="{% static 'img/blog/blog-recent-3.jpg' %}" alt="">
                  <h4><a href="blog-single.html">Экономико-статистическое обоснование внедрения системы управления на основе данных ФГБОУ ВО "ГУАП"</a></h4>
                  <time datetime="2020-01-01">8 июня, 2022</time>
                </div>
                </div>
                
                <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="{% static 'img/blog/blog-recent-4.jpg' %}" alt="">
                  <h4><a href="blog-single.html">Разработка Положения об управлении на основе данных ФГБОУ ВО "СПбГЭУ"</a></h4>
                  <time datetime="2020-01-01">7 июня, 2022</time>
                </div>
                </div>
                
                
                <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="{% static 'img/blog/blog-recent-1.jpg' %}" alt="">
                  <h4><a href="blog-single.html">Разработка стратегии развития Новосибирской области до 2030 года</a></h4>
                  <time datetime="2020-01-01">5 июня, 2022</time>
                </div>

                <div class="post-item clearfix">
                  <img src="{% static 'img/blog/blog-recent-2.jpg' %}" alt="">
                  <h4><a href="blog-single.html">Исследование миграции абитуриентов на территории Российской Федерации</a></h4>
                  <time datetime="2020-01-01">4 июня, 2022</time>
                </div>



              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Основные заказчики</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">Министерство экономического развития Новосибирской области<span>(25)</span></a></li>
                  <li><a href="#">Департамент оборонно-промышленного комплекса Правительства Российской Федерации <span>(12)</span></a></li>
                  <li><a href="#">Департамент энергетики Правительства Новосибирской области <span>(5)</span></a></li>
                  <li><a href="#">Мэрия города Новосибирска <span>(22)</span></a></li>
                  <li><a href="#">ФГБОУ ВО "СПбГЭУ" <span>(8)</span></a></li>
                  <li><a href="#">АНО «Университет Национальной Технологической Инициативы 2035» <span>(14)</span></a></li>
                </ul>
              </div><!-- End sidebar categories-->



              <h3 class="sidebar-title">Предметная область</h3>
              <div class="sidebar-item tags" style="color: black">
                <ul>
                  <li><a href="#">Информационные технологии</a></li>
                  <li><a href="#">Дизайн</a></li>
                  <li><a href="#">Менеджмент</a></li>
                  <li><a href="#">Креативные индустрии</a></li>
                  <li><a href="#">Туризм</a></li>
                  <li><a href="#">Логистика</a></li>
                  <li><a href="#">Фондовые рынки</a></li>
                  <li><a href="#">Маркетинг</a></li>
                </ul>
              </div>
              
              
              <h3 class="sidebar-title">Вид работы</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">ВКР (Среднее проф. образование)</a></li>
                  <li><a href="#">ВКР (Бакалавриат)</a></li>
                  <li><a href="#">ВКР (Специалитет)</a></li>
                  <li><a href="#">ВКР (Магистратура)</a></li>
                  <li><a href="#">НИР</a></li>
                  <li><a href="#">НИОКР</a></li>
                  <li><a href="#">Диссертация (канд. наук)</a></li>
                  <li><a href="#">Диссертация (доктор наук)</a></li>
                </ul>
              </div>
              <!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="{% static 'img/logo.png' %}" alt="">
              <span>Smart Exchange</span>
            </a>
            <p>Биржа проектов и задач для взаимодействия университетов, региональных органов власти и бизнеса.</p>
            <div class="social-links mt-3">
              <a href="https://t.me/gintoft" class="linkedin"><i class="bi bi-telegram"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Интерфейсы</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Личный кабинет заказчика</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Личный кабинет эксперта</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Личный кабинет исследователя</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Галерея запросов</a></li>
            </ul>
          </div>

<!--
          <div class="col-lg-2 col-6 footer-links">
            <h4>Демо-версия</h4>
            <ul>
              <li><i class="bi bi-lightning-charge-fill"></i> <a href="/zap/">Регистрация запроса</a></li>
              <li><i class="bi bi-activity"></i> <a href="#">Оцифровка запроса</a></li>
              <li><i class="bi bi-boxes"></i> <a href="/gal/">Ресурсы биржи</a></li>
            </ul>
          </div>
-->

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Контакты</h4>
            <p>
              г. Новосибирск,<br>
              ул. Каменская, 56<br><br>
              <strong>Phone:</strong> +7 913 017 2628<br>
              <strong>Email:</strong> a.s.gintoft@nsuem.ru<br>
            </p>

          </div>

        </div>
      </div>
    </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 <!-- Vendor JS Files -->
 <script src="{% static 'main/vendor/purecounter/purecounter.js' %}"></script>
 <script src="{% static 'main/vendor/aos/aos.js' %}"></script>
 <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'main/vendor/glightbox/js/glightbox.min.js' %}"></script>
 <script src="{% static 'main/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
 <script src="{% static 'main/vendor/swiper/swiper-bundle.min.js' %}"></script>
 <script src="{% static 'main/vendor/php-email-form/validate.js' %}"></script>

 <!-- Template Main JS File -->
 <script src="{% static 'main/js/main.js' %}"></script>


</body>

</html>