{% load static %}
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>Интеллектуальная биржа <br> <span style="color: darkviolet">Третья миссия университета</span></h1>
            
            <br>
            <h2>Мы трансформируем запросы региональных органов власти и бизнеса в форматы, понятные Университетам и индивидуальным исследователям</h2>
            
            <p>«Место встречи» поставщиков актуальных задач – органов власти, подведомственных учреждений, институтов развития, коммерческих организаций (заказчиков) – с одной стороны, и научных и образовательных организаций, заинтересованных в повышении практикоориентированности своей деятельности (исполнителей) – с другой</p>
            <a href="#gallery" class="download-btn"><i class="bx bx-envelope"></i> Открыть заявки</a>
          </div>
        </div>
        <div class="col-lg-5 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="{% static 'main/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= App Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h3 style=" align-content: center; font-weight: 700; margin-top: 5px;">Этапы экспертной трансформации запроса органа власти</h3>
        </div>

        <div class="row no-gutters">
          <div class="col-xl-8 d-flex align-items-stretch order-2 order-lg-1">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                    <h4>Определение <span style="color: lightseagreen">минимального уровня</span> квалификации исполнителя</h4>
                  <p>Студент, аспирант, исследователь, ...</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                    <h4>Определение <span style="color: orange">форматов выполнения</span> работы</h4>
                  <p>Выпускная работа, научная работа, реферат ...</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-images"></i>
                    <h4>Определение <span style="color: deepskyblue">предметных областей</span></h4>
                  <p>Экономика, юриспруденция, информационные технологии ...</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="bx bx-id-card"></i>
                  <h4>Осуществление <span style="color: darkturquoise">поиска совпадений</span> с ранее заявленными работами</h4>
<!--                  <p>Est autem dicta beatae suscipit. Sint veritatis et sit quasi ab aut inventore</p>-->
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                    <h4>Определение <span style="color: orange">сроков и этапов</span> выполнения работы</h4>
<!--                  <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>-->
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-atom"></i>
                    <h4>Подбор <span style="color: darkviolet">авторского коллектива</span> для реализации исследования</h4>
<!--                  <p>Et fuga et deserunt et enim. Dolorem architecto ratione tensa raptor marte</p>-->
                </div>
              </div>
            </div>
          </div>
          <div class="image col-xl-4 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'main/img/details-4.png' %}" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- End App Features Section -->

   
   
    <!-- ======= Details Section ======= -->
    <section id="values" class="details">
      <div class="container">
        
        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-right">
            <img src="{% static 'main/img/details-2.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Возможности Интеллектуальной биржи для <span style="color: lightcoral">региона в целом и на межрегиональном уровне</span></h3>
            <p class="fst-italic"> Систематизация взаимодействия органов власти, бизнеса, научных и образовательных организаций среднего профессионального и высшего образования
            </p>
            <p> Организация взаимодействия между научными и образовательными организациями (преподавателями, учеными, коллективами, студенческими командами) региона, между научными и образовательными организациями нескольких регионов по смежным тематикам
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{% static 'main/img/details-1.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Возможности Интеллектуальной биржи для <span style="color: blueviolet">Заказчика</span></h3>
            <p class="fst-italic"> <b>Заказчик - </b> орган власти, подведомственное учреждение, любое иное юридическое лицо, заинтересованное во взаимодействии с научными и образовательными организациями среднего профессионального и высшего образования для решения задач Заказчика, а также с целью повышения качества и практикоориентированности образования и эффективности прикладных научных исследований
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Интеллектуальный аутсорсинг</li>
              <li><i class="bi bi-check"></i> Привлечение кадров (практика, стажировки, трудоустройство)</li>
              <li><i class="bi bi-check"></i> Организация системного взаимодействия с другими органами власти и бизнесом (в том числе из других регионов) по схожим тематикам</li>
              <li><i class="bi bi-check"></i> Переиспользование лучших практик, результатов научных и образовательных организаций и органов власти других регионов</li>
              <li><i class="bi bi-check"></i> Системное вовлечение научных и образовательных организаций в социально- экономическое, научно-технологическое развитие региона</li>
              <li><i class="bi bi-check"></i> Снижение временных и финансовых издержек на реализацию проектов с аналитической и (или) исследовательской составляющей</li>
            </ul>
          </div>
        </div>
        
        


        <div class="row content">
          <div class="col-md-3 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'main/img/details-3.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-9 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Возможности Интеллектуальной биржи для <span style="color: darkturquoise">Исполнителя</span></h3>
            <p class="fst-italic"> <b>Исполнитель - </b> научная или образовательная организация среднего профессионального и высшего образования, использующая платформу при осуществлении образовательной, научно-исследовательской, инновационной и предпринимательской деятельности посредством организации решения задач Заказчика
            <ul>
              <li><i class="bi bi-check"></i> Повышение качества образования (практикоориентированности, актуальности знаний и т.п)</li>
              <li><i class="bi bi-check"></i> Повышение востребованности научно-исследовательских разработок, доходов от выполнения НИР</li>
              <li><i class="bi bi-check"></i> Выявление и поддержка талантов</li>
              <li><i class="bi bi-check"></i> Повышение уровня квалификации педагогических и научных работников;</li>
              <li><i class="bi bi-check"></i> Развитие внешних связей, в том числе с другими научными и образовательными организациями региона и других регионов</li>
              <li><i class="bi bi-check"></i> Организация мест практик, стажировок</li>
              <li><i class="bi bi-check"></i> Повышение эффективности трудоустройства выпускников образовательных организаций</li>
              <li><i class="bi bi-check"></i> Разработка и реализация программ дополнительного образования</li>
            </ul>
          </div>
        </div>
        




      </div>
    </section><!-- End Details Section -->

    <!-- ======= Pricing Section ======= -->
    
    <section id="gallery" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Галерея заявок органов власти</h2>

        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 box" data-aos="fade-right">
            <h3>Обзорные заявки</h3>
            <h4 style="color: lightgray">50<span>заявок</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Сформулированы региональными органами власти в обзорном формате</li>
              <li class="na"><i class="bx bx-x"></i> <span> Не содержат полную информацию в соответствии с методическими рекомендациями НГУЭУ</span></li>
            </ul>
            <a href="{% url 'base_galary' %}" class="get-started-btn">Открыть</a>
          </div>

          <div class="col-lg-4 box featured" data-aos="fade-up">
            <h3>Заявки </h3>
            <h4 style="color: forestgreen">27<span>заявок</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Сформулированы региональными органами власти</li>
              <li><i class="bx bx-check"></i> Прошли трансформацию экспертами биржи</li>
              <li><i class="bx bx-check"></i> Соответствуют методическим рекомендациям</li>
            </ul>
            <a href="{% url 'authority_galary' %}" class="get-started-btn">Открыть</a>
          </div>

          <div class="col-lg-4 box" data-aos="fade-left">
            <h3>Предложения НГУЭУ</h3>
            <h4 style="color: orange">163<span>предложения</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Сформулированы ППС университета на основе Программы развития Новосибирской области</li>
            </ul>
            <a href="{% url 'nsuem_galary' %}" class="get-started-btn">Открыть</a>
          </div>

        </div>

      </div>
    </section>
  <!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>О платформе «Интеллектуальная биржа «Третья миссия университета»</h2>
        </div>

        <div class="accordion-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">Почему «Третья миссия университета»?
              <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                <p>
                  «Третья миссия университета» – устойчивый термин, характеризующий взаимодействие вуза и общества в широком смысле. Первой миссией является образование (передача знаний), второй миссией – наука, исследования (генерация знаний).
                </p>
                
                <p>«Интеллектуальная биржа» дает возможность взаимодействия вузов с региональной властью, бизнесом и обществом не только по линии образования и науки, но и в рамках инновационной и предпринимательской деятельности. Именно поэтому платформа как инструмент обеспечения такого взаимодействия получила рабочее название «Третья миссия университета».</p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">Какие есть требования к формулируемым задачам?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Задача должна быть актуальной (отражать реальную проблему Заказчика, не имеющую на текущий момент окончательного решения), конкретной (отражать суть проблемы с необходимой степенью детализации), иметь относительно длительный горизонт решения (не менее 2-3 лет – для включения в образовательный процесс, не менее 1 года – для включения в научно- исследовательский и инновационный процесс организаций-исполнителей) и соответствующий масштаб, позволяющий Исполнителю продолжать исследования в указанной области, в том числе после решения задачи.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">Какая периодичность внесения задач? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                <p>Задачи вносятся (актуализируются) заказчиком не реже одного раза в год. Для включения задач в образовательный процесс целесообразно вносить их не позднее сентября. Для иных целей внесение задач доступно в любое время.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed">Рекомендуемое количество задач?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                <p>Рекомендуется собрать не менее 2-3 задач с каждого структурного подразделения нижнего уровня (отдела, сектора) органа власти или подведомственного учреждения, за исключением обеспечивающих структурных подразделений (бухгалтерия, отдел кадров, отдел ГО и т.д.). Таким образом, при среднем количестве структурных подразделений нижнего уровня – 10, рекомендуемое количество задач для одного Заказчика – не менее 25.                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Контактная информация</h2>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-4 info">
                <i class="bx bx-map"></i>
                <h4>Адрес</h4>
                <p>ФГБОУ ВО "НГУЭУ", г. Новосибирск, ул. Каменская, 56</p>
              </div>
              <div class="col-lg-4 info">
                <i class="bx bx-phone"></i>
                <h4>По вопросам взаимодействия</h4>
                <p>+7 (913) 482 40 49<br><b>Наталья Ермашкевич</b><br>Руководитель проекта</p>
              </div>
              <div class="col-lg-4 info">
                <i class="bx bx-envelope"></i>
                <h4>Техническая поддержка</h4>
                <p>+7 (913) 017 26 28<br><b>Александр Гинтофт</b><br>Проректор по цифровой трансформации</p>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
